h1
{
    text-align: center;
    color: white;
    background-color: rgb(0,0,0);
    font-size: 40pt;
}
#inspire
{
  border-radius: 50%;
}
#proflie
{
  border-radius: 50%; 
}
section
{
 color: white;
 background-color: black;
 float: left;
}
div.home
{
    text-align: center;
    font-size: 25px;
    color: White;
    background-color: black;
}
    
