body {
    background-color: lightpink;
}
h1
{
    text-align: center;
    color: white;
    background-color: rgb(0,0,0);
    font-size: 40px;
}
h2
{
    font-size: 30px;
}
#inspire
{
  border-radius: 50%;
}
#proflie
{
  border-radius: 50%; 
}
section
{
 color: white;
 background-color: black;
 float: left;
 font-size: 20px;
}
div.home
{
    text-align: center;
    font-size: 30px;
}
ul
{
   text-align: center;
   font-size: 25px;
   font-family: "Times New Roman";
}
div.inspire {
  text-align: center;
  font-size: 20px;
}
