th {
  background-color: Blue;
  color: black;
}

th, td {
  padding: 15px;
  text-align: left;
}
tr:hover {background-color: Red;}
th, td {
  border-bottom: 2px solid #ddd;
}
table, th, td {
  border: 2px ;
}
